<fieldset id="upload_container">
	<legend>Image/Gif URL</legend>
	<div>
	<%= form_for(@link) do |f| %>

		<%= f.text_field :url, class: "input_field" %>

		<%= f.submit "Paste in", class: "btn btn-large btn-primary" %>

	<% end %>
	</div>
</fieldset>
<div id="container">

	<% @links.each do |link| %>
		<div class="image_link">
			<%= link_to image_tag(link.url,alt: "a picture url", id: "tagline") ,  link, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	<% end %>
</div>
