html{
	height:100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow-y: scroll; 
	body{
		background: #EEE;
		margin: 0;
		height:100%;
		background: #272822;
		text: #57FF57; 
	}
}

legend{
	margin: 3px;
}

#upload_container {
	font-size: 0.9em;
	margin: 10px ;
	overflow: hidden;
	border: 2.5px solid #57FF57 ;
	background-color: black;
	padding: 20px;
}

div.container {
	overflow: hidden;
	padding: 0 20px;
}

input{
	.input_field{
		width:100%;
		padding:5px;
	}

	.btn{
		padding:15px;
		width:250px;
	}
}

a,
a:link,
a:hover,
a:active,
a:visited,
img
 {
	text-decoration: none;
	border-style: none;
	width:240px;
}

img:hover{
}

.image_link {
  width: 210px;
  margin: 10px;
  float: left;
}

ul{
  list-style-type: none; 
}